# REQUIREMENTS modeuls
# Core Python Libraries
numpy==1.23.5
pandas==1.5.3

# Computer Vision Libraries
opencv-python==4.7.0.72

# Deep Learning Frameworks
torch==2.0.1
torchvision==0.15.2
tqdm==4.64.1

# Emotion Detection Library
deepface==0.0.79

# Visualization Libraries
matplotlib==3.6.2
seaborn==0.12.2

# Utilities
Pillow==9.3.0

# Jupyter Notebook (if needed)
notebook==6.5.2
